<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vamshi.myreminderapps">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" android:launchMode="singleTop" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <service
            android:name=".SetTheNotification"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            </service>


        <receiver android:name=".AlarmReceiver234">

        </receiver>

    </application>



</manifest>